# Laravel + Vite (ignorar archivos pesados)

.env
.env.*.local

/vendor/
/node_modules/
/public/build/
/public/hot

/storage/*.key
/storage/app/*
/storage/debugbar/*
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
/storage/logs/**
/public/storage/*

*.sql
*.sqlite
/database/*.sql
/db/*.sql
/db/snapshots/

/bootstrap/cache/*.php

.idea/
/.vscode/
/.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-*.log*
pnpm-*.log*

*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.mp4
*.mov
*.iso